.mainchat
  .mainchat__header
    .mainchat__header__left
      .mainchat__header__left__title
        = @group.name
      %ul.mainchat__header__left__members
        Member：
        - @group.users.each do |user|
          = user.name
        
    .mainchat__header__right
      .mainchat__header__right__button
        = link_to edit_group_path(@group) do
          Edit
    
  .mainchat__messages
    = render @messages

  .mainchat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'mainchat__form__message', placeholder: 'type a message'
      .mainchat__form__mask
        = f.label :image, class: 'mainchat__form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'mainchat__form__submit'